<div class="container">

  <div class="login-panel">
    <h1>Login in</h1>
    <br><br>
    <div class="input">
      Login: <input [(ngModel)]="nickName">
    </div>
    <div class="input">
      Password: <input type="password" [(ngModel)]="password">
    </div>
    <div class="button">
      <button (click)="login()">Login in</button>
    </div>
    <br>
    <p>Don't have an account?</p>
    <button (click)="signIn()" class="astext">Sign Up.</button> <!-- Service incoming -->

  </div>


</div>