.container{
  background-color: blue;
  width: 350px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
}
.input{
  display: inline-flexbox;
  padding: 15px;

}
h1{
  padding: 40px;
}
button{
  padding: 10px;
}
p{
  font-size: 12px;
}
.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  font-size: 12px;
}
