html{
  padding: 0;
  margin: -8px;
}
body
{
  margin: 0;
  padding: 0;
  background-color: white;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
  height: 892px;



}
.container{
  text-align: center;
  background-color: lightslategray;
  height: 820px;

}
