.container{
  background-color: #343a40;
  height: 380px;
  padding: 50px;
  color:white;
  max-width: 600px;
}
html, body {
  height: 100%;
  margin: 0px;
}
.content {
  height: 1000px;
  background-color: #4c4c4d;
}
h1{
  letter-spacing: 7px;
}
