.container-done-task{
  padding: 100px;
  width-min: 50%;
}
.list-group-item{
  background-color: limegreen;
}
.list-group {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:  5px;
}
h1{
  text-align: center;
}
